{**
 * @param string   $basePath cesta k webovému obsahu např. CSS souborům
 * @param array    $flashes  pole zpráv
 *}

 <!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="UTF-8">
 		<meta http-equiv="cache-control" content="no-cache" />
 		<meta http-equiv="pragma" content="no-cache" />
 		<meta http-equiv="expires" content="-1" />
 		<meta name="resource-type" content="document" />
 		<meta name="rating" content="general" />
 		<meta name="distribution" content="global" />
 		<meta name="robots" content="{$robots}" n:ifset="$robots">
 		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
 		<link rel="icon" type="image/png" href="{$basePath}/img/favicon.png"/>
 		<title>Inventarizace</title>

 		<link href="{$basePath}/dist/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 	  <link href="{$basePath}/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
 	  <link href="{$basePath}/css/ruang-admin.min.css" rel="stylesheet">
 		<!--[if lt IE 9]>
 			<script type="text/javascript" src="adminwww/js/respond.min.js"></script>
 		<![endif]-->
 	</head>
 	<body class="bg-gradient-login">
       <div id="container">
           <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}<a href="#" data-dismiss="alert" class="close">×</a></div>

       </div>
       <!-- Login Content -->
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-xl-10 col-lg-12 col-md-9">
                   <div class="card shadow-sm my-5">
                       <div class="card-body p-0">
                           {include #content}
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- Login Content -->
   <script src="/dist/jquery/jquery.min.js"></script>
   <script src="/dist/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="/dist/jquery-easing/jquery.easing.min.js"></script>
   <script src="/js/ruang-admin.min.js"></script>
 </body>


 </html>
