{form form class=>'form-horizontal'}
    {formContainer basic}
    {input id }
    
    <div class="form-group">
        <div class="col-sm-3 control-label">{label name /}</div>
        <div class="col-sm-9">{input name }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label surname /}</div>
        <div class="col-sm-9">{input surname }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label login /}</div>
        <div class="col-sm-9">{input login }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label email /}</div>
        <div class="col-sm-9">{input email }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label password /}</div>
        <div class="col-sm-9">{input password }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label password_repeat /}</div>
        <div class="col-sm-9">{input password_repeat }</div>
    </div>
    
    {/formContainer}
    {input save}
{/form}
