{form formSettings}
    <div class="form-group">
        <div class="col-sm-3 control-label">{label name /}</div>
        <div class="col-sm-9">{input name }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label surname /}</div>
        <div class="col-sm-9">{input surname }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label login /}</div>
        <div class="col-sm-9">{input login }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label email /}</div>
        <div class="col-sm-9">{input email }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label role /}</div>
        <div class="col-sm-9">{input role }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label changePass /}</div>
        <div class="col-sm-9">{input changePass }</div>
    </div>
    <div class="form-group required has-error" id="setPass">
        <div class="col-sm-3 control-label">{label password /}</div>
        <div class="col-sm-9">{input password }</div>
    </div>
    <div class="form-group required has-error" id="setPass2">
        <div class="col-sm-3 control-label">{label password_repeat /}</div>
        <div class="col-sm-9">{input password_repeat }</div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 control-label">{label image /}</div>
        <div class="col-sm-9">{input image }</div>
        <div class="col-sm-3">
            <img src="../../../../www/{$accountData->image}" width="300">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">{label about /}</div>
        <div class="col-sm-9">{input about }</div>
    </div>
    {input save}
{/form}
