{extends '../../../templates/@layout.latte'}
{block #content}
        <div class="col-lg-6">
                <!-- Form Basic -->
                <div class="card mb-4">
                        <div class="card-body">
		{include #form}
                        </div>
	</div>
        </div>
{/block}
