<span class="badge {if $item->returned}badge-success{else}badge-warning{/if}">
    {if $item->returned}
            <i class="fa fa-check"></i> - 
            {$item->returned_date|date:'j. n. Y'}
    {else}
            <i class="fa fa-times"></i>
    {/if}
</span>
