
{define title}Přihlášení{/define}
{define description}Přihlášení do uživatelského účtu.{/define}
{block content}
{* Formulář pro přihlášování. *}
{control loginForm}
<p>Pokud ještě nemáte účet, <a n:href=":Core:Administration:register">zaregistrujte se</a>.</p>
