<div class="col-lg-6">
        <!-- Form Basic -->
        <div class="card mb-4">
                <div class="card-body">
                        {form form}
                                {formContainer basic}
                                        <div class="form-group">
                                                <label>{label name}</label>
                                                {input name class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label section_id}</label>
                                                {input section_id class=>'form-control'}
                                        </div>
                                {/formContainer}
                                {input save class=>'btn btn-primary'}
                        {/form}
                </div>
        </div>
</div>
