{**
 * @param string   $basePath cesta k webovému obsahu např. CSS souborům
 * @param array    $flashes  pole zpráv
 *}

<!DOCTYPE html>
<html lang="cs-cz">
        <head>
                <meta charset="UTF-8" />
                <title>{ifset #title}{include title|striptags}{/ifset} - Inventarizace</title>
                <meta name="description" content="{*include description|striptags*}" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />



                <link rel="icon" type="image/png" href="{$basePath}/img/favicon.png"/>
                {block css}
                <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
                <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

                <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
                <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">
                <link href="{$basePath}/dist/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
                <link href="{$basePath}/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
                <link href="{$basePath}/css/ruang-admin.min.css" rel="stylesheet">

                <link href="{$basePath}/dist/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
                <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

                <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">

                <!-- Use this css for ajax spinners -->
                <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
                <link href="{$basePath}/css/style.css?{filemtime('css/style.css')}" rel="stylesheet" type="text/css" media="all" />

                {/block}

                {block head}{/block}
        </head>


        <body id="page-top">
                <div id="wrapper">
                        <!-- Sidebar -->
                        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
                                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                                        <div class="sidebar-brand-icon">
                                                <img src="/img/logo2.png">
                                        </div>
                                        <div class="sidebar-brand-text mx-3">Středisko A je to!</div>
                                </a>
                                <hr class="sidebar-divider my-0">
                                {control menu}
                                <hr class="sidebar-divider">
                                <div class="version" id="version-ruangadmin"></div>
                        </ul>
                        <!-- Sidebar -->
                        <div id="content-wrapper" class="d-flex flex-column">
                                <div id="content">
                                        <!-- TopBar -->
                                        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                                                <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                                                  <i class="fa fa-bars"></i>
                                                </button>
                                                <ul class="navbar-nav ml-auto">
                                                        <li class="nav-item dropdown no-arrow">
                                                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                                                                  aria-haspopup="true" aria-expanded="false">
                                                                  <i class="fas fa-search fa-fw"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                                                  aria-labelledby="searchDropdown">
                                                                        <form class="navbar-search">
                                                                                <div class="input-group">
                                                                                  <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                                                                                    aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                                                                                  <div class="input-group-append">
                                                                                    <button class="btn btn-primary" type="button">
                                                                                      <i class="fas fa-search fa-sm"></i>
                                                                                    </button>
                                                                                  </div>
                                                                                </div>
                                                                        </form>
                                                                </div>
                                                        </li>
                                                        <div class="topbar-divider d-none d-sm-block"></div>
                                                        <li class="nav-item dropdown no-arrow">
                                                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                                                                  aria-haspopup="true" aria-expanded="false">
                                                                        <img class="img-profile rounded-circle" src="/img/boy.png" style="max-width: 60px">
                                                                        <span class="ml-2 d-none d-lg-inline text-white small">{$user->data['name']} {$user->data['surname']}</span>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                                                        <!--<a class="dropdown-item" href="#">
                                                                          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                          Profile
                                                                        </a>
                                                                        <a class="dropdown-item" href="#">
                                                                          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                          Settings
                                                                        </a>
                                                                        <a class="dropdown-item" href="#">
                                                                          <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                          Activity Log
                                                                        </a>-->
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="{plink :Admin:Login:Sign:Logout}">
                                                                          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                          Logout
                                                                        </a>
                                                                </div>
                                                        </li>
                                                </ul>
                                        </nav>
                                        <!-- Topbar -->

                                        <!-- Container Fluid-->
                                        <div class="container-fluid" id="container-wrapper">
                                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                                        <h1 class="h3 mb-0 text-gray-800">{include title|striptags}</h1>
                                                </div>
                                                <div class="row" style="display: block">
                                                        {snippet flashes}
                                                                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                                                                        {$flash->message}<a href="#" data-dismiss="alert" class="close">×</a>
                                                                </div>
                                                        {/snippet}
                                                </div>

                                                {include #content}


                                                <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                          <p>Do you like this template ? you can download from <a href="https://github.com/indrijunanda/RuangAdmin"
                                                              class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;GitHub</a></p>
                                                        </div>
                                                </div>

                                        </div>
                                        <!---Container Fluid-->
                                </div>
                                <!-- Footer -->
                                <footer class="sticky-footer bg-white">
                                  <div class="container my-auto">
                                    <div class="copyright text-center my-auto">
                                      <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
                                        <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
                                      </span>
                                    </div>
                                  </div>
                                </footer>
                                <!-- Footer -->
                        </div>
                </div>

                <!-- Scroll to top -->
                <a class="scroll-to-top rounded" href="#page-top">
                  <i class="fas fa-angle-up"></i>
                </a>








                {block scripts}
                        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
                        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
                        <script src="{$basePath}/dist/bootstrap/js/bootstrap.bundle.min.js"></script>
                        <script src="{$basePath}/dist/jquery-easing/jquery.easing.min.js"></script>
                        <script src="{$basePath}/js/ruang-admin.min.js"></script>
                        <script src="{$basePath}/dist/chart.js/Chart.min.js"></script>
                        <script src="{$basePath}/js/demo/chart-area-demo.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

                        <script src="https://cdn.jsdelivr.net/npm/nette.ajax.js@2.3.0/nette.ajax.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/nette-forms@3.0.4/src/assets/netteForms.min.js"></script>

                        <script src="https://cdn.jsdelivr.net/npm/ublaboo-datagrid@6.2.13/assets/datagrid.js"></script>

                        <!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
                        <script src="https://cdn.jsdelivr.net/npm/ublaboo-datagrid@6.2.13/assets/datagrid-instant-url-refresh.js"></script>

                        <!-- Use this little extension for ajax spinners -->
                        <script src="https://cdn.jsdelivr.net/npm/ublaboo-datagrid@6.2.13/assets/datagrid-spinners.js"></script>

                        <!-- datatables -->
                        <script src="{$basePath}/dist/datatables/jquery.dataTables.min.js"></script>
                        <script src="{$basePath}/dist/datatables/dataTables.bootstrap4.min.js"></script>
                        <script>
                                $(document).ready(function () {
                                  $('#dataTable').DataTable(); // ID From dataTable
                                  $('#dataTableHover').DataTable(); // ID From dataTable with Hover
                                });
                        </script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.6/tinymce.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
                        <script src="{$basePath}/js/combodate.js"></script>
                        <script>
                                $('input[type=date]').combodate({
                                        minYear: 1920,
                                        maxYear: new Date().getFullYear() + 1,
                                        template:"D MMMM YYYY",
                                        format:"YYYY-MM-DD",
                                });
                                $('input[type=datetime]').combodate({
                                        minYear: 1920,
                                        maxYear: new Date().getFullYear() + 1,
                                        template:"D MMMM YYYY HH:mm",
                                        format:"YYYY-MM-DD",
                                        minuteStep: 1
                                });
                                $(document).ready(function()
                                        {
                                          $('input.datetimepicker').datetimepicker(
                                          {
                                            duration: '',
                                            changeMonth: true,
                                            changeYear: true,
                                            dateFormat: 'dd.mm.yy',
                                            yearRange: '1920:2020',
                                          });
                                          $('.select2').select2();
                                        });
                        </script>

                {/block}
        </body>
</html>
