{block title}Majetek{/block}
{block content}
  <button type="button" class="btn btn-primary"><a href="add">Přidat</a></button>
  <div class="card">
    <div class="table-responsive">
      {control grid}
    </div>
  </div>
{/block}
