{*includeblock '../../templates/Tables/simple.latte'*}
<div class="row">
        <div class="col-lg-12 mb-4">
          <!-- Simple Tables -->
          <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Majetek</h6>
              <a href="{plink :add}" type="button" class="btn btn-info mb-1">Přidat</a>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Název</th>
                    <th>Stav</th>
                    <th>Akce</th>
                  </tr>
                </thead>
                <tbody>
                  <tr n:foreach="$data as $row">
                    <td>{$row->id}</td>
                    <td>{$row->name}</td>
                    <td><span class="badge badge-{$row->condition->style}">{$row->condition->name}</span></td>
                    <td>
                            <a href="{plink :edit $row->id}" class="btn btn-sm btn-primary">Upravit</a>
                            <a onclick="return confirm('Opravdu chcete smazat položku '+{$row->name}+'?');" href="{plink :delete $row->id}" class="btn btn-sm btn-danger" ><i class="fas fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
</div>

