{*includeblock '../../templates/Tables/simple.latte'*}
<div class="row">
        <div class="col-lg-12 mb-4">
          <!-- Simple Tables -->
          <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Výpůjčky</h6>
              <a href="{plink :add}" type="button" class="btn btn-info mb-1">Přidat</a>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Půjčeno</th>
                    <th>Komu</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Vráceno</th>
                    <th>Akce</th>
                  </tr>
                </thead>
                <tbody>
                  <tr n:foreach="$borrows as $borrow" n:class="$borrow->return_date < $today && !$borrow->returned ? bg-warning, text-black">
                    <td><a href="{plink :Admin:Item:Borrow:edit $borrow->id}">{$borrow->id}</a></td>
                    <td><a href="{plink :Admin:Item:Item:edit $borrow->item_id}">{$borrow->item->name}</a></td>
                    <td>{$borrow->borrowed_name}</td>
                    <td>{$borrow->borrowed_date|date:'j. n. Y'}</td>
                    <td>{$borrow->return_date|date:'j. n. Y'}</td>
                    <td>
                        <span class="badge {if $borrow->returned}badge-success{else}badge-warning{/if}">
                            {if $borrow->returned}
                                    <i class="fa fa-check"></i> - 
                                    {$borrow->returned_date|date:'j. n. Y'}
                            {else} 
                                    <i class="fa fa-times"></i>
                            {/if}                                                                                
                        </span>
                    </td>
                    <td>
                            <a href="{plink :edit $borrow->id}" class="btn btn-sm btn-primary">Upravit</a>
                            <a onclick="return confirm('Opravdu chcete smazat výpůjčku '+{$borrow->borrowed_name}+' ('+{$borrow->item->name}+'')?');" href="{plink :delete $borrow->id}" class="btn btn-sm btn-danger" ><i class="fas fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
</div>

