{extends ../@layout.latte}
{block content}
  <div class="p-4">
    {if $item}
      <h3 >{$item->name}</h3>
      {if $borrow}
        <div class="alert alert-danger">Předmět je momentálně vypůjčen. Očekávané navrácení je <b>{$borrow->return_date|date:"j. n. Y"}</b></div>
      {else}
        <div class="alert alert-success">Předmět není nikým zapůjčen a je možné si jej vypůjčit.</div>
      {/if}

      {form form class=>''}

          <div class="form-group col-md-8 col-12">
              {label borrowed_name /}
              {input borrowed_name  }
          </div>

          <div class="form-group col-md-8 col-12">
              {label borrowed_email /}
              {input borrowed_email }
          </div>

          <div class="form-group col-md-8 col-12">
              {label borrowed_date /}
              {input borrowed_date }
          </div>

          <div class="form-group col-md-8 col-12">
              {label return_date /}
              {input return_date }
          </div>

          <div class="form-group">
            <div class="col-sm-6 col-12">
              {input save class => "btn btn-primary "}
            </div>
          </div>
      {/form}

      {if $borrow}
        <a class="btn btn-success" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
          Vrátit předmět
        </a>
        <div class="collapse" id="collapse1">
          <div class="card card-body">
            {form formReturn class=>''}

                <div class="form-group col-md-8 col-12">
                    {label borrowed_email /}
                    {input borrowed_email }
                </div>

                <div class="form-group">
                  <div class="col-sm-6 col-12">
                    {input save class => "btn btn-success "}
                  </div>
                </div>
            {/form}
          </div>
        </div>

      {/if}
    {else}
      <h3 class="pl-3">Předmět nenalezen!</h3>
      <div class="alert alert-danger">Načtěte znovu fotoaparátem QR kód z předmětu.</div>

    {/if}
  </div>
