{extends ../@layout.latte}
{block content}
  {if $service}
    <h3 class="pl-3">{$type($service->getType())} - {$service->getName()}</h3>
    <div class="alert alert-success">Služba bude prodloužena na další období. Děkujeme!</div>

    <div class="container">
      <p>Chcete-li prodloužit na jiné období, zvolte požadovanou hodnotu z roletky níže:</p>
        {form form class=>''}

            <div class="form-group d-sm-flex">
                <div class="col-sm-6 col-12">{input extendYears }</div>
            </div>


            <div class="form-group">
              <div class="col-sm-6 col-12">
                {input save class => "btn btn-primary "}
              </div>
            </div>
        {/form}

    </div>
  {else}
    <h3 class="pl-3">Služba nenalezena!</h3>
    <div class="alert alert-danger">Zkontrolujte zadávanou adresu a ujistěte se, že otevíráte odkaz z poslední emailové upomínky ohledně expirace dané služby!</div>

  {/if}
