{define title}Výpis článků{/define}
{define description}Výpis všech článků.{/define}
{block content}
<table>
	<tr n:foreach="$articles as $article">
		<td>
			<h2><a n:href=":Core:Article: $article->url">{$article->titulek}</a></h2>
			{$article->anotace}
			<br />
			{if $admin}
				<a n:href=":Core:Article:editor $article->url">Editovat</a>
				<a n:href=":Core:Article:remove $article->url">Odstranit</a>
			{/if}
		</td>
	</tr>
</table>
