@charset "UTF-8";
@import url(css/animate.css);
/* BREAKPOINTS */
/* The element to apply the animation to */
div {
  animation-name: "";
  animation-duration: 1s; }

/**** VARIABLES *** */
/*Nunito:200,300,400,600,700,900 */
/**** MIXINS *** */
body, div, form, input, textarea {
  font: 100% "Nunito", sans-serif;
  font-size: 16px;
  color: #333; }

body, div {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #003D6F; }

h1 {
  font-size: 1.9rem; }

h2 {
  font-size: 1.2rem; }

p {
  font-size: 1rem; }

a {
  text-decoration: none; }

p a {
  text-decoration: underline; }

button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: #0091D6; }

button:hover {
  background: #02ACF6; }

*:focus {
  outline: none; }

*, ::after, ::before {
  box-sizing: border-box; }

.hidden {
  display: none !important; }

/**** GLOBALS *** */
/**** IOS FORMS *** */
textarea, input.text, input[type="text"], input[type="button"], input[type="submit"], input[type="email"], input[type="date"], input[type="tel"], .input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none; }

/*  border-radius: 0 */
/**** GRID *** */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto; }
  .container img {
    max-width: fit-content; }

.container-md {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1% 2%; }

.container-lg {
  width: 90%;
  max-width: 1400px; }

.container-high {
  width: 90%;
  max-width: 1200px; }

.row {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-columns: 1fr [12];
  grid-column-gap: 30px;
  grid-row-gap: 30px; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.col-3 {
  grid-column: span 3; }

.col-4 {
  grid-column: span 4; }

.col-6 {
  grid-column: span 6; }

.col-8 {
  grid-column: span 8; }

.col-12 {
  grid-column: span 12; }

.close, .btn {
  cursor: pointer; }

/**** ICONS *** */
span.icon {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 35px 1fr; }

span.phone:before {
  content: url("img/icon-phone-sm.svg"); }

span.email:before {
  content: url("img/icon-email-sm.svg"); }

span.person:before {
  content: url("img/icon-person-sm.svg"); }

span.address:before {
  content: url("img/icon-address-sm.svg"); }

.meta-date, .meta-author {
  font-weight: 700; }

.meta-date:before {
  content: url("img/icon-date-article.svg");
  margin-right: 10px; }

.meta-date:before {
  content: url("img/icon-time.svg");
  margin-right: 10px; }

.meta-author:before {
  content: url("img/icon-author-article.svg");
  margin-right: 10px; }

/**** BUTTONS *** */
a.btn {
  cursor: pointer; }

.btn-xs {
  width: 10vw;
  min-width: 170px; }

.btn-sm {
  padding: 8px 20px;
  width: 20vw;
  max-width: 200px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700; }

.btn-md {
  min-width: 20vw;
  max-width: 300px;
  margin: 5vh 0 2vh 0;
  text-align: center;
  font-size: 1.125rem; }

.btn-default {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #0091D6;
  color: white;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center; }

.btn-inverse {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: white;
  color: #0091D6;
  font-weight: 700;
  display: inline-block;
  padding: 8px 30px;
  border: 1px solid #02ACF6;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none; }

.btn-footer {
  background-color: #003D6F;
  color: white;
  padding: 8px 30px;
  border-radius: 100px 50px 50px 100px;
  display: block;
  max-width: fit-content; }

.btn-default:hover {
  background: #02ACF6; }

.btn-inverse:hover {
  background: #f5f5f5; }

.blocker {
  padding: 0 !important;
  z-index: 999 !important; }

.load-more {
  margin: 6vh 0 3vh 0; }

.main-gallery::after {
  content: "";
  display: none; }

a.btn.blurb-container {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

a.btn.blurb-container:hover {
  background: #f5f5f5;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

/**** UL INLINE *** */
.ul-custom {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, auto);
  list-style: none; }
  .ul-custom li {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1em; }
  .ul-custom li:before {
    content: "•";
    color: #02ACF6;
    font-size: 30px;
    font-weight: bold;
    vertical-align: sub;
    display: inline-block;
    width: 1em;
    margin-left: -1em; }

.ul-inline {
  list-style: none;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }
  .ul-inline li {
    margin-right: 2vw;
    float: left;
    margin-left: 0; }
  .ul-inline li:before {
    content: "•";
    color: #02ACF6;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px; }

.ul-clear {
  list-style-type: none;
  display: grid;
  display: -ms-grid; }
  .ul-clear li {
    margin-right: 60px;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    float: left; }
  .ul-clear li:before {
    content: "•";
    color: #02ACF6;
    font-size: 30px;
    font-weight: bold;
    vertical-align: sub;
    display: inline-block;
    width: auto;
    margin-left: -1em; }

.hint ul {
  grid-column: span 2;
  line-height: 25px;
  list-style-type: none;
  display: grid;
  display: -ms-grid; }
  .hint ul li {
    margin-right: 60px;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    float: left; }
  .hint ul li:before {
    content: "•";
    color: #02ACF6;
    font-size: 30px;
    font-weight: bold;
    vertical-align: sub;
    display: inline-block;
    width: auto;
    margin-left: -1em; }

.list {
  display: inline-grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px; }

.list-2 {
  grid-template-columns: repeat(2, auto); }

.list-4 {
  grid-template-columns: repeat(4, auto); }

.list-5 {
  grid-template-columns: repeat(5, auto); }

.hint-page ul {
  display: inline-grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(4, auto); }
  .hint-page ul li {
    align-items: center; }

/*** MODALS *** */
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer; }

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853; }

.alert-heading {
  color: inherit; }

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847; }

.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad; }

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px; }

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0; }

.alert-block p + p {
  margin-top: 5px; }

.account-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
  padding-top: 10vh;
  z-index: 999;
  animation-name: fadeIn;
  animation-duration: 1s; }
  .account-modal h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 40px 0 10px 0; }
  .account-modal .row {
    max-width: 400px;
    grid-column-gap: 0;
    margin: 0 auto; }
  .account-modal .row-acc {
    max-width: 250px; }
    .account-modal .row-acc .col-12 {
      display: grid;
      display: -ms-grid;
      grid-template-rows: repeat(5, auto);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: stretch;
      grid-row-gap: 10px;
      text-align: center; }
  .account-modal .acc-modal-close {
    font-size: 1.5rem;
    color: #C4C4C4;
    display: block;
    text-align: right;
    margin-bottom: 5vh;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
  .account-modal .acc-modal-close:hover {
    opacity: 0.5; }
  .account-modal form {
    display: grid;
    display: -ms-grid; }
    .account-modal form input, .account-modal form button {
      font-size: 13px !important; }
    .account-modal form input.form-control {
      color: #C4C4C4;
      border: 0.5px solid #02ACF6;
      border-radius: 6px;
      padding: 8px 10px;
      margin-bottom: 10px; }
  .account-modal .btn-default {
    border: 0;
    font-weight: 700;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); }
  .account-modal .btn-inverse {
    color: #0091D6;
    font-weight: 700; }

.review-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
  padding-top: 20vh;
  z-index: 999;
  animation-name: fadeIn;
  animation-duration: 1s; }
  .review-modal h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 40px 0 10px 0; }
  .review-modal h2::before {
    content: url("img/icon-post.svg");
    margin-right: 20px; }
  .review-modal .row {
    max-width: 400px;
    grid-column-gap: 0;
    margin: 0 auto; }
  .review-modal .row-form {
    max-width: 430px; }
    .review-modal .row-form .col-12 {
      display: grid;
      display: -ms-grid;
      grid-template-rows: repeat(5, auto);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: stretch;
      grid-row-gap: 10px;
      text-align: center; }
  .review-modal .review-btn-close {
    font-size: 1.5rem;
    color: #C4C4C4;
    display: block;
    text-align: right;
    margin-bottom: 5vh;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
  .review-modal .review-modal-close:hover {
    opacity: 0.5; }
  .review-modal form {
    display: grid;
    display: -ms-grid; }
    .review-modal form input.form-control, .review-modal form textarea.form-control {
      color: #C4C4C4;
      border: 0.5px solid rgba(93, 90, 78, 0.3);
      border-radius: 6px;
      padding: 8px 10px;
      margin-bottom: 10px; }
    .review-modal form textarea.form-control {
      height: 20vh; }
  .review-modal .btn-default {
    border: 0;
    max-width: 200px;
    margin: 0 auto; }
  .review-modal .btn-inverse {
    color: #0091D6; }

.poptat-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
  padding-top: 5vh;
  z-index: 999;
  animation-name: fadeIn;
  animation-duration: 1s; }
  .poptat-modal h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 40px 0 10px 0;
    text-align: center; }
  .poptat-modal h2::before {
    content: url("img/icon-post.svg");
    margin-right: 20px; }
  .poptat-modal .row {
    max-width: 400px;
    grid-column-gap: 0;
    margin: 0 auto; }
  .poptat-modal .row-form {
    max-width: 430px; }
    .poptat-modal .row-form .col-12 {
      display: grid;
      display: -ms-grid;
      grid-template-rows: repeat(5, auto);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: stretch;
      grid-row-gap: 10px;
      text-align: center; }
  .poptat-modal .poptat-btn-close {
    font-size: 1.5rem;
    color: #C4C4C4;
    display: block;
    text-align: right;
    margin-bottom: 5vh;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
  .poptat-modal .poptat-btn-close:hover {
    opacity: 0.5; }
  .poptat-modal form {
    display: grid;
    display: -ms-grid; }
    .poptat-modal form input.form-control, .poptat-modal form textarea.form-control {
      color: #5D5A4E;
      border: 0.5px solid rgba(93, 90, 78, 0.3);
      border-radius: 6px;
      padding: 8px 10px;
      margin-bottom: 10px;
      font-weight: 700; }
    .poptat-modal form #termin {
      color: #5D5A4E;
      border: 0.5px solid rgba(93, 90, 78, 0.3);
      border-radius: 6px;
      margin-bottom: 10px;
      font-weight: 700;
      padding: 8px 10px; }
    .poptat-modal form .form-control::placeholder {
      color: rgba(93, 90, 78, 0.75);
      font-weight: 700; }
    .poptat-modal form textarea.form-control {
      height: 20vh; }
  .poptat-modal .joinform {
    display: block; }
  .poptat-modal .btn-default {
    border: 0;
    max-width: 200px;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 700; }

.dotaz-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
  padding-top: 5vh;
  z-index: 999;
  animation-name: fadeIn;
  animation-duration: 1s; }
  .dotaz-modal h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 40px 0 10px 0;
    text-align: center; }
  .dotaz-modal h2::before {
    content: url("img/icon-post.svg");
    margin-right: 20px; }
  .dotaz-modal .row {
    max-width: 400px;
    grid-column-gap: 0;
    margin: 0 auto; }
  .dotaz-modal .row-form {
    max-width: 430px; }
    .dotaz-modal .row-form .col-12 {
      display: grid;
      display: -ms-grid;
      grid-template-rows: repeat(5, auto);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: stretch;
      grid-row-gap: 10px;
      text-align: center; }
  .dotaz-modal .dotaz-btn-close {
    font-size: 1.5rem;
    color: #C4C4C4;
    display: block;
    text-align: right;
    margin-bottom: 5vh;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
  .dotaz-modal .poptat-btn-close:hover {
    opacity: 0.5; }
  .dotaz-modal form {
    display: grid;
    display: -ms-grid; }
    .dotaz-modal form input.form-control, .dotaz-modal form textarea.form-control {
      color: #5D5A4E;
      border: 0.5px solid rgba(93, 90, 78, 0.3);
      border-radius: 6px;
      padding: 8px 10px;
      margin-bottom: 10px;
      font-weight: 700; }
    .dotaz-modal form .form-control::placeholder {
      color: rgba(93, 90, 78, 0.75);
      font-weight: 700; }
    .dotaz-modal form textarea.form-control {
      height: 20vh; }
  .dotaz-modal .btn-default {
    border: 0;
    max-width: 200px;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 700; }

/**** CUSTOM *** */
#btn-eshop {
  display: none;
  background: #02ACF6;
  transform: rotate(-45deg);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 280px;
  height: 280px;
  position: absolute;
  top: -150px;
  left: -150px;
  padding-top: 210px;
  text-align: center;
  font-size: 1.2rem;
  animation-name: flash;
  animation-duration: 1s; }

#btn-eshop:hover {
  width: 300px;
  height: 300px;
  padding-top: 220px; }

#btn-eshop a {
  color: white; }

#header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  background: white;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-column-gap: 2%;
  padding: 20px 0;
  grid-row-gap: 5%; }
  #header #logo {
    z-index: 9999; }
  #header #logo img {
    height: 85px;
    width: auto; }
  #header #searchbox, #header #logo, #header #ucet {
    display: grid;
    display: -ms-grid;
    align-self: center;
    -ms-grid-row-align: center; }

#searchform {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr auto;
  border-radius: 6px;
  border: 1px solid #0091D6;
  padding: 5px; }
  #searchform #site-search {
    background: #FFFFFF;
    width: 80%;
    padding: 6px 10px;
    float: left;
    box-sizing: border-box;
    border: 0; }
  #searchform #site-search::placeholder {
    color: #898989;
    font-weight: 200;
    font-size: 0.9rem; }
  #searchform #site-search:focus {
    outline: none; }
  #searchform button {
    color: white;
    border-radius: 6px;
    border: 0;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer; }
    #searchform button span {
      line-height: 1rem;
      vertical-align: text-top; }

.headerbuttons {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  justify-items: center;
  grid-column-gap: 5px;
  width: 100%;
  height: auto;
  text-align: right !important; }

.notice {
  display: inline-block; }

.notice:hover .noticebox {
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

.noticebox {
  display: none;
  opacity: 0;
  position: absolute;
  top: 65px;
  left: 60%;
  margin-top: 10px;
  width: auto;
  min-height: 10vh;
  text-align: center;
  background: #FFFFFF;
  border: 0.5px solid #5D5A4E;
  border-radius: 6px;
  box-sizing: border-box;
  z-index: 99999;
  padding: 10px 30px; }
  .noticebox h2 {
    color: #003D6F;
    font-size: 1rem; }

.usermenu {
  display: inline-block;
  border-radius: 6px;
  border: 0.5px solid #0091D6;
  box-sizing: border-box;
  padding: 5px 10px;
  margin-left: 20%;
  z-index: 9999; }
  .usermenu a {
    text-decoration: none;
    color: #0091D6;
    font-weight: 700;
    font-size: 1rem; }
  .usermenu img {
    margin-right: 10px;
    size: 10px; }
  .usermenu span {
    line-height: 1rem;
    vertical-align: text-top; }
  .usermenu a::after {
    content: "▼";
    font-size: 0.8rem;
    vertical-align: text-top;
    margin-left: 10px; }

/**** MOBILE MENU *** */
.mobile-menu-button::before {
  display: block;
  content: url("img/icon-mobile-menu.png"); }

.mobile-menu-button::after {
  content: "MENU";
  font-size: 14px;
  text-align: center;
  font-weight: 700; }

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 3vh;
  z-index: 999999;
  animation-name: fadeIn;
  animation-duration: 1s; }
  .mobile-menu ul {
    margin: 0;
    padding: 0 1%;
    list-style: none;
    display: grid;
    display: -ms-grid;
    grid-template-rows: repeat(13, auto) 1fr; }
  .mobile-menu li {
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    display: -ms-grid;
    justify-items: center; }
  .mobile-menu a {
    align-self: center;
    -ms-grid-row-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #0091D6;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2em;
    border-bottom: 2px solid transparent; }
  .mobile-menu a:hover, .mobile-menu a.current {
    border-bottom: 2px solid #003D6F;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
  .mobile-menu .mobile-menu-close {
    padding: 2%;
    font-size: 1.5rem;
    color: #C4C4C4;
    display: block;
    text-align: right;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border: 0; }
    .mobile-menu .mobile-menu-close span {
      margin-left: 10px; }
  .mobile-menu .mobile-menu-close:hover {
    opacity: 0.5;
    border: 0; }

.menu-eshop {
  background: #02ACF6;
  color: white !important;
  padding: 5px 20px;
  border-radius: 6px;
  min-width: max-content; }

.menu-eshop:hover {
  border-bottom: 2px solid transparent !important;
  background-color: #0091D6; }

/**** END MOBILE MENU *** */
.nav-container {
  width: 100%; }

#navigace {
  width: 100%;
  height: 65px;
  text-align: center;
  border-top: 0.5px solid #02ACF6;
  border-bottom: 0.5px solid #02ACF6;
  margin-bottom: 3vh;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5px 1fr 5px; }
  #navigace ul {
    margin: 0;
    padding: 0 5%;
    list-style: none;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(13, 1fr);
    -ms-grid-columns: 1fr [13];
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-gap: 15px; }
  #navigace li {
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    display: -ms-grid;
    justify-items: center; }
  #navigace a {
    display: grid;
    display: -ms-grid;
    align-self: center;
    -ms-grid-row-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #0091D6;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    border-bottom: 2px solid transparent; }
  #navigace a:hover, #navigace a.current {
    border-bottom: 2px solid #003D6F;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }

#hero {
  width: 100%;
  height: auto; }

#hero .btn-default {
  position: relative;
  right: -60vw;
  bottom: -30px; }

.slide-item {
  padding: 5% 20%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover; }

.slide-item h1 {
  color: white;
  font-size: 1.5rem; }

.slide-1 {
  background-image: url("img/hero-slide-1.jpg"); }

.slide-2 {
  background-image: url("img/aktualni-webinare.jpg"); }

.slide-3 {
  background-image: url("img/newsletter-pozadi.jpg"); }

.slider-controllers {
  position: relative;
  z-index: 10;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center; }

.slider-controllers a {
  display: inline-block;
  width: 100px;
  height: 8px;
  margin-right: 20px;
  padding: 0;
  background-color: white;
  text-indent: -9999px; }

.slider-controllers a:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

a.controller-active {
  background-color: #0091D6 !important; }

.homepage-kategorie {
  padding: 5vh 0; }

.homepage-kategorie .container {
  max-width: 1000px; }
.homepage-kategorie div.col-6 {
  border-radius: 30px;
  border: 1px solid #0091D6;
  color: #0091D6; }
.homepage-kategorie div.col-6 p {
  display: grid;
  display: -ms-grid;
  grid-template-columns: auto 1fr;
  padding: 5px 10px 5px 10px; }
.homepage-kategorie div.col-6 p::before {
  content: "";
  display: block;
  background: url("img/icon-sesit.svg") no-repeat;
  width: 45px;
  height: 45px;
  margin: 0 6px 0 0;
  float: left; }
.homepage-kategorie div.col-6:nth-of-type(3), .homepage-kategorie div.col-6:nth-of-type(4) {
  background: #0091D6;
  color: white; }
.homepage-kategorie div.col-6:nth-of-type(3) p:before, .homepage-kategorie div.col-6:nth-of-type(4) p:before {
  background: url("img/icon-sesit-white.svg") no-repeat; }

.homepage-nabidka {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  padding: 5vh 0;
  margin-top: 5vh; }
  .homepage-nabidka .blurb {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 127px 1fr; }
  .homepage-nabidka .blurb-image {
    background: #02ACF6;
    border-radius: 100px;
    color: white;
    width: 127px;
    height: 127px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    z-index: 5; }
  .homepage-nabidka .blurb-container {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 125px;
    border: 0.3px solid #9E9C95;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: -63px;
    padding: 0 20px 0 75px; }
    .homepage-nabidka .blurb-container .btn-default {
      width: 200px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      font-weight: 700;
      padding: 8px 10px;
      font-size: 0.9rem; }
    .homepage-nabidka .blurb-container .btn-default:first-of-type {
      margin-bottom: 12px; }
    .homepage-nabidka .blurb-container .btn-default-1 {
      color: #0091D6;
      background-color: white; }

.shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 2px;
  padding: 0; }

.homepage-produkty {
  background: url("img/homepage-produkty.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10vh 0;
  margin-top: 10vh; }
  .homepage-produkty .container {
    max-width: 1300px; }
  .homepage-produkty .row::after {
    content: "";
    display: none; }
  .homepage-produkty .row {
    background: rgba(255, 255, 255, 0.97);
    border-radius: 6px;
    padding: 5%; }
  .homepage-produkty .col-4 {
    justify-items: stretch;
    display: grid;
    display: -ms-grid; }
  .homepage-produkty p {
    font-weight: 700; }
  .homepage-produkty .btn-default-wrap {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%; }
  .homepage-produkty .btn-default {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.homepage-produkty .produkt {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  background: url("img/blurb-produkty.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 25px; }

.multimedia, .pomucky {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("img/produkt-multimedia.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.webinare {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("img/produkt-webinare.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.homepage-about .btn-default {
  font-size: 1.2rem; }
.homepage-about h2 {
  margin-top: 0; }
.homepage-about .ul-custom {
  margin-bottom: 5vh; }

.homepage-webinare {
  background-image: url("img/aktualni-webinare.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10vh 0; }
  .homepage-webinare .container.title {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    width: 100%;
    max-width: 100%;
    margin: 0 0 5vh 0;
    padding: 0 18%; }
  .homepage-webinare h2 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 100px;
    vertical-align: middle;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0; }
  .homepage-webinare h2:before {
    content: url("img/icon-play.svg");
    width: 100px;
    height: 100px;
    margin-right: 40px; }
  .homepage-webinare .container {
    max-width: 1400px;
    width: 100%; }
  .homepage-webinare .main-gallery::after {
    content: "";
    display: none; }
  .homepage-webinare article {
    background: #FDFDFD;
    border: 0.3px solid #9E9C95;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10vh; }
  .homepage-webinare h3 {
    padding: 20px 150px 0 20px;
    font-size: 1.2rem;
    font-weight: 900; }
  .homepage-webinare p {
    padding: 1% 10% 1% 7%; }
  .homepage-webinare .btn-inverse {
    margin: 0 auto;
    display: block;
    width: 300px;
    text-align: center; }
  .homepage-webinare .btn-default-1 {
    background-color: #02ACF6;
    box-shadow: none;
    font-weight: 900; }
  .homepage-webinare .post-meta {
    grid-template-columns: 100px 2.8fr 1.5fr 1.2fr;
    grid-template-rows: initial;
    grid-column-gap: 2%;
    padding: 1% 5% 1% 7%; }
    .homepage-webinare .post-meta div {
      color: #003D6F; }
  .homepage-webinare .post-meta img {
    grid-row: span 3;
    width: 100px; }
  .homepage-webinare .meta-author {
    grid-column: span 3; }
    .homepage-webinare .meta-author h4 {
      margin-bottom: 0; }
  .homepage-webinare .meta-author::before {
    display: none; }
  .homepage-webinare .meta-bio {
    grid-row: span 2; }
    .homepage-webinare .meta-bio p {
      padding: 0;
      margin-top: 0; }
  .homepage-webinare .meta-date {
    font-weight: 700; }
  .homepage-webinare .meta-date:before {
    content: url("img/icon-date.svg");
    margin-right: 10px; }
  .homepage-webinare .meta-time {
    grid-column: 3 / 4;
    font-weight: 700; }
  .homepage-webinare .meta-time:before {
    content: url("img/icon-time.svg");
    margin-right: 10px; }
  .homepage-webinare .meta-price {
    font-weight: 700;
    grid-row: 2 / 3;
    grid-column: 4 / 5; }
  .homepage-webinare .meta-price:before {
    content: url("img/icon-price.svg");
    margin-right: 10px; }
  .homepage-webinare .more-link {
    grid-column: span 4;
    width: 250px;
    margin: 3% auto;
    font-size: 1.15rem;
    color: #02ACF6;
    border: 1px solid #02ACF6; }
  .homepage-webinare .load-more {
    padding: 19px 30px; }

.homepage-about {
  padding: 10vh 0; }
  .homepage-about section {
    max-width: 1000px; }
  .homepage-about img {
    width: 90%; }
  .homepage-about h2 {
    font-size: 2rem;
    font-weight: 900; }
  .homepage-about p {
    color: #003D6F; }
  .homepage-about .btn-default {
    margin: 0 auto;
    display: block;
    width: 200px;
    text-align: center; }

.homepage-join {
  padding: 10vh 0; }
  .homepage-join .container {
    max-width: 1000px; }
  .homepage-join h2 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    font-size: 2rem; }
  .homepage-join h2::after {
    content: url("img/icon-join.svg"); }
  .homepage-join .col-6:first-of-type {
    padding-right: 4%; }
  .homepage-join .col-6:nth-of-type(2) {
    padding-left: 4%; }
  .homepage-join p {
    color: #003D6F;
    font-weight: 600;
    text-align: justify;
    font-size: 0.9rem; }
  .homepage-join .author {
    color: #003D6F;
    font-style: italic;
    text-align: right;
    font-weight: 700;
    line-height: 2em;
    margin-top: 40px; }
    .homepage-join .author span {
      color: rgba(0, 61, 111, 0.8); }

#joinform input, #joinform textarea, #joinform select {
  width: 100%;
  margin-bottom: 10px;
  border: 0.5px solid rgba(93, 90, 78, 0.3);
  border-radius: 6px;
  font-size: 1rem;
  padding: 8px 15px;
  font-weight: 700; }
#joinform input[type='checkbox'] {
  width: auto; }
#joinform .btn-default {
  width: 50%;
  margin: 0 auto;
  display: block; }

#orderform .btn-default {
  width: 100%;
  max-width: 100%; }

.blog-hp {
  background-image: url("img/hp-blog-pozadi.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 10vh 0;
  margin: 5vh 0; }
  .blog-hp .main-gallery::after {
    content: "";
    display: none; }
  .blog-hp .container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 2%; }
  .blog-hp .container::before {
    content: url("img/icon-blog.svg") !important;
    left: -50px !important; }
  .blog-hp h2 {
    font-size: 1.5rem;
    margin-left: 40px; }

article.post {
  background: white;
  border: 0.3px solid #5D5A4E;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 1em;
  margin: 2% 3%; }
  article.post h3 {
    font-size: 1.12rem; }
  article.post .meta-date, article.post .meta-author {
    font-weight: 700; }
  article.post .meta-date:before {
    content: url("img/icon-date-article.svg");
    margin-right: 10px; }
  article.post .meta-author:before {
    content: url("img/icon-author-article.svg");
    margin-right: 10px; }

article .post-meta {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 60px 4fr 4fr;
  color: #003D6F; }

article a.cat-link {
  grid-column: span 2;
  display: block;
  background: #02ACF6;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  padding: 0.5em 1em;
  max-width: 50%;
  margin-bottom: 20px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }
article a.cat-link:hover {
  background: #0091D6;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }
article a.more-link {
  grid-row: span 2;
  text-align: center;
  width: 250px;
  height: 40px;
  justify-self: flex-end;
  padding: 0.5em 1em; }

.hp-newsletter {
  background-image: url("img/newsletter-pozadi.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 10vh 0;
  margin: 5vh 0; }
  .hp-newsletter .container {
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 5vh 3vw; }
  .hp-newsletter .col-6:last-of-type {
    align-self: center;
    -ms-grid-row-align: center; }
  .hp-newsletter h2 {
    font-size: 2.2rem;
    margin-bottom: 0; }
  .hp-newsletter ul {
    list-style: none;
    line-height: 1.4em;
    margin: 2vh 0; }
  .hp-newsletter ul li:before {
    content: "•";
    color: #02ACF6;
    font-size: 30px;
    font-weight: bold;
    vertical-align: sub;
    display: inline-block;
    width: 1em;
    margin-left: -1em; }
  .hp-newsletter form {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 4fr 1fr; }
  .hp-newsletter input {
    height: 40px; }
  .hp-newsletter #email {
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
    padding: 10px 12px; }
  .hp-newsletter .btn-default {
    border-radius: 0 6px 6px 0;
    border: 0;
    font-size: 1.1rem; }

.head img {
  max-width: 100%; }
.head .author {
  font-style: italic;
  font-weight: 700;
  color: #003D6F; }
  .head .author span {
    display: block;
    clear: both;
    color: rgba(0, 61, 111, 0.8);
    font-style: normal; }
.head .btn-md {
  margin: 2vh 0; }

.otazky {
  margin: 5vh 0; }
  .otazky .main-gallery::after {
    content: "";
    display: none; }
  .otazky .container::before {
    content: url("img/icon-question.svg") !important; }
  .otazky .container article {
    background: white;
    border: 0.3px solid #5D5A4E;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 1em; }
    .otazky .container article h3 {
      font-size: 1.12rem; }
    .otazky .container article .post-meta {
      grid-template-rows: 60px auto auto; }
      .otazky .container article .post-meta .cat-link {
        grid-column: span 2; }
      .otazky .container article .post-meta .meta-aut {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      .otazky .container article .post-meta .meta-author {
        grid-column: 1 / 2;
        grid-row: 3 / 4; }

.pobyty .blurb {
  display: grid;
  display: -ms-grid;
  grid-template-columns: auto 1fr; }
  .pobyty .blurb .blurb-container {
    display: inline-grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: stretch;
    text-align: left;
    width: auto;
    height: 75px;
    border: 0.3px solid #9E9C95;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding-left: 45px; }
.pobyty .blurb::before {
  content: url(img/icon-bulb.svg);
  display: inline-block;
  margin-right: -40px;
  z-index: 5; }

.vylety {
  margin: 5vh 0; }
  .vylety .row::after {
    content: "";
    display: none; }
  .vylety article {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 15px;
    border: 0.3px solid #5D5A4E;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 20px 15px;
    margin: 2vh 0; }
    .vylety article h3 {
      grid-column: span 10;
      grid-row: 1 / 2; }
    .vylety article p {
      grid-column: span 4;
      margin-top: 0; }
    .vylety article .alert {
      grid-column: span 3;
      display: inline-grid;
      grid-template-columns: auto 1fr; }
    .vylety article .alert::before {
      content: url(img/icon-alert.svg);
      display: inline-block;
      margin-right: 15px; }
    .vylety article img {
      grid-column: span 3;
      grid-row: span 2;
      max-width: -webkit-fill-available;
      padding: 0 0 0 40px; }
    .vylety article .labels {
      grid-column: span 7;
      grid-row: 3 / 4; }
    .vylety article .ul-inline {
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0; }
      .vylety article .ul-inline li {
        margin-right: 10px;
        font-weight: 700; }
        .vylety article .ul-inline li span {
          display: block;
          clear: both;
          padding-left: 22px;
          font-weight: 400; }
    .vylety article .post-meta {
      grid-row: 4 / 5;
      grid-column: span 4;
      display: inline-grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr; }
    .vylety article .meta-length {
      font-weight: 700; }
    .vylety article .meta-price {
      font-weight: 700; }
    .vylety article .meta-note {
      color: #5D5A4E;
      font-size: 0.85rem; }
    .vylety article .more-link {
      grid-row: 4 / 5;
      grid-column: span 2;
      align-self: center;
      -ms-grid-row-align: center; }

.blog-list .container {
  padding: 5vh 0; }
.blog-list .row::after {
  content: "";
  display: none; }
.blog-list .col-6 {
  display: grid;
  display: -ms-grid; }
.blog-list .cat-link {
  max-width: fit-content;
  min-width: 200px; }

.doucovani .blurb {
  display: grid;
  display: -ms-grid;
  grid-template-columns: auto 1fr; }
  .doucovani .blurb .blurb-container {
    display: inline-grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: stretch;
    text-align: left;
    width: auto;
    height: 75px;
    border: 0.3px solid #9E9C95;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding-left: 20%;
    color: #1F222C;
    font-weight: 600; }
.doucovani .blurb::before {
  content: url(img/icon-bulb.svg);
  display: inline-block;
  margin-right: -40px;
  z-index: 5; }

.doucovani-info h2 {
  font-size: 1.5rem; }
.doucovani-info .cta-blurb {
  display: grid;
  display: -ms-grid;
  grid-template-columns: auto 1fr; }
  .doucovani-info .cta-blurb .cta-blurb-container {
    display: inline-grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: stretch;
    text-align: left;
    width: auto;
    height: auto;
    min-height: 150px;
    border: 0.3px solid #9E9C95;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background: white;
    border-radius: 6px;
    padding: 0 20px 10px 50px;
    color: #1F222C;
    font-weight: 600; }
    .doucovani-info .cta-blurb .cta-blurb-container h3 {
      font-size: 1.5rem; }
.doucovani-info .cta-blurb::before {
  content: url(img/icon-teacher.svg);
  display: inline-block;
  margin-right: -40px;
  z-index: 5; }
.doucovani-info #doucovaniform input, .doucovani-info #doucovaniform textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 0.5px solid rgba(93, 90, 78, 0.3);
  border-radius: 6px;
  font-size: 1rem;
  padding: 8px 15px;
  font-weight: 700; }
.doucovani-info .btn-default {
  width: 50%;
  margin: 0 auto;
  display: block; }
.doucovani-info .btn-default {
  justify-self: center;
  -ms-grid-column-align: center; }

.dvpp-webinare {
  padding: 10vh 0; }
  .dvpp-webinare .main-gallery::after {
    content: "";
    display: none; }
  .dvpp-webinare .container.title {
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    border-radius: 6px;
    width: 100%;
    max-width: 100%;
    margin: 0 0 5vh 0;
    padding: 0 18%; }
  .dvpp-webinare h2 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0; }
  .dvpp-webinare h2:before {
    content: url("img/icon-play.svg");
    width: 100px;
    height: 100px;
    margin-right: 40px; }
  .dvpp-webinare .container {
    max-width: 1400px;
    width: 100%; }
  .dvpp-webinare .main-gallery::after {
    content: "";
    display: none; }
  .dvpp-webinare article {
    background: #FDFDFD;
    border: 0.3px solid #9E9C95;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10vh; }
  .dvpp-webinare h3 {
    padding: 20px 150px 0 20px;
    font-size: 1.2rem;
    font-weight: 900; }
  .dvpp-webinare p {
    padding: 1% 10% 1% 7%; }
  .dvpp-webinare .btn-inverse {
    margin: 0 auto;
    display: block;
    width: 300px;
    text-align: center; }
  .dvpp-webinare .btn-default-1 {
    background-color: #02ACF6;
    box-shadow: none;
    font-weight: 900; }
  .dvpp-webinare .post-meta {
    grid-template-columns: 100px 2.8fr 1.5fr 1.2fr;
    grid-template-rows: initial;
    grid-column-gap: 2%;
    padding: 1% 5% 1% 7%; }
    .dvpp-webinare .post-meta div {
      color: #003D6F; }
  .dvpp-webinare .post-meta img {
    grid-row: span 3;
    width: 100px;
    max-width: 100%; }
  .dvpp-webinare .meta-author {
    grid-column: span 3; }
    .dvpp-webinare .meta-author h4 {
      margin-bottom: 0; }
  .dvpp-webinare .meta-author::before {
    display: none; }
  .dvpp-webinare .meta-bio {
    grid-row: span 2; }
    .dvpp-webinare .meta-bio p {
      padding: 0;
      margin-top: 0; }
  .dvpp-webinare .meta-date {
    font-weight: 700; }
  .dvpp-webinare .meta-date:before {
    content: url("img/icon-date.svg");
    margin-right: 10px; }
  .dvpp-webinare .meta-time {
    grid-column: 3 / 4;
    font-weight: 700; }
  .dvpp-webinare .meta-time:before {
    content: url("img/icon-time.svg");
    margin-right: 10px; }
  .dvpp-webinare .meta-price {
    font-weight: 700;
    grid-row: 2 / 3;
    grid-column: 4 / 5; }
  .dvpp-webinare .meta-price:before {
    content: url("img/icon-price.svg");
    margin-right: 10px; }
  .dvpp-webinare .more-link {
    grid-column: span 4;
    width: 250px;
    margin: 3% auto;
    font-size: 1.15rem;
    color: #02ACF6;
    border: 1px solid #02ACF6; }
  .dvpp-webinare .right .btn {
    margin: 0;
    float: right; }
  .dvpp-webinare .left .btn {
    margin: 0; }

.obl-vzdel {
  background-image: url("img/oblasti-vzdelavani.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 10vh 0;
  margin: 5vh 0; }
  .obl-vzdel .main-gallery {
    padding-bottom: 5vh; }
  .obl-vzdel .container {
    background: rgba(255, 255, 255, 0.9); }
  .obl-vzdel article {
    display: grid;
    display: -ms-grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 100px;
    padding: 1% 3%;
    height: 100%;
    background: white;
    border: 0.3px solid #5D5A4E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px; }
    .obl-vzdel article h3 {
      grid-column: span 2; }
    .obl-vzdel article .ul-clear {
      grid-column: span 2;
      line-height: 25px; }
    .obl-vzdel article .blurb {
      display: grid;
      display: -ms-grid;
      grid-template-columns: auto 1fr;
      grid-column: 2 / 3; }
      .obl-vzdel article .blurb .blurb-container {
        display: inline-grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: stretch;
        text-align: left;
        width: auto;
        max-width: 100px;
        height: 40px;
        border: 1px solid #0091D6;
        border-radius: 6px;
        padding-left: 30px;
        font-weight: 700;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s; }
      .obl-vzdel article .blurb .blurb-container:hover {
        background: #f5f5f5;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s; }
    .obl-vzdel article .blurb::before {
      content: url(img/icon-play-sm.svg);
      display: inline-block;
      margin-right: -20px;
      z-index: 5; }

.medailonky .title h2 {
  font-size: 2rem; }
.medailonky .meta-author::before {
  display: none; }
.medailonky .main-gallery {
  margin-bottom: 4vh; }
.medailonky article {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 30px;
  padding: 3%;
  background: white;
  border: 0.3px solid #5D5A4E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px; }
  .medailonky article .post-meta {
    display: inline-grid;
    grid-column: span 6;
    grid-template-columns: 120px 1fr 1fr;
    grid-template-rows: auto auto; }
  .medailonky article img {
    width: 100px;
    grid-row: span 2;
    border-radius: 50%; }
  .medailonky article .meta-author {
    grid-column: 2 / 4; }
  .medailonky article .meta-bio {
    grid-column: 2 / 4;
    color: #003D6F; }
  .medailonky article .popis {
    grid-column: span 6; }
  .medailonky article h3 {
    grid-column: span 2;
    margin-bottom: 0; }
  .medailonky article .blurb {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 1fr;
    grid-column: span 2; }
    .medailonky article .blurb .blurb-container {
      display: inline-grid;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: stretch;
      text-align: left;
      width: auto;
      height: 50px;
      border: 0.3px solid #9E9C95;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      padding-left: 30px;
      font-weight: 700;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: default; }
    .medailonky article .blurb .blurb-container:hover {
      background: #f5f5f5;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s; }
  .medailonky article .blurb::before {
    display: inline-block;
    margin-right: -25px;
    z-index: 5; }
  .medailonky article .blurb-webinar::before {
    content: url(img/icon-lektor-webinar.svg); }
  .medailonky article .blurb-blog::before {
    content: url(img/icon-lektor-blog.svg); }
  .medailonky article .blurb-portal::before {
    content: url(img/icon-lektor-portal.svg); }
.medailonky .load-more {
  display: block;
  font-weight: 700;
  color: #1F222C;
  margin: 5vh 0; }

#footer {
  background: linear-gradient(180deg, rgba(2, 172, 246, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #003D6F;
  color: white;
  min-height: 200px;
  padding: 5vh 0;
  margin-top: 50px; }
  #footer .container {
    width: 90%;
    max-width: 1000px;
    padding: 5vh 0;
    background: #FFFFFF;
    border-radius: 6px; }
  #footer .row {
    padding: 0 2vw; }
  #footer .footer-menu {
    padding: 0;
    margin: 0; }
    #footer .footer-menu li {
      list-style-type: none; }
      #footer .footer-menu li a {
        color: #1F222C;
        font-weight: 700;
        line-height: 2em; }
      #footer .footer-menu li a:hover {
        text-decoration: underline; }
  #footer h2 {
    font-size: 1.2rem; }
  #footer h3 {
    color: #333;
    line-height: 1em; }
  #footer .blurb {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 1fr;
    max-width: fit-content; }
    #footer .blurb .blurb-container {
      display: inline-grid;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: stretch;
      text-align: left;
      width: auto;
      max-width: 400px;
      height: 40px;
      border: 1px solid #0091D6;
      background: #003D6F;
      color: white;
      border-radius: 6px;
      padding: 0 30px;
      font-weight: 700;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s; }
    #footer .blurb .blurb-container:hover {
      opacity: 0.8;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s; }
  #footer .blurb::before {
    content: url(img/icon-btn-arrow.svg);
    display: inline-block;
    margin-right: -20px;
    z-index: 5; }
  #footer .btn {
    display: block;
    font-weight: 700;
    line-height: 2em;
    color: #1F222C; }
  #footer .footer-social {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto auto auto 1fr;
    grid-column-gap: 30px; }
  #footer .footer-newsletter {
    border: 0.5px solid #003D6F;
    border-radius: 6px;
    padding: 0% 3% 4% 4%; }
    #footer .footer-newsletter form {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 4fr 1fr;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); }
    #footer .footer-newsletter input {
      height: 40px;
      display: grid;
      display: -ms-grid; }
    #footer .footer-newsletter .btn-default {
      line-height: 1em; }
    #footer .footer-newsletter #email {
      border: 0.5px solid #FFFFFF;
      border-radius: 6px 0px 0px 6px;
      padding: 10px 12px; }
    #footer .footer-newsletter #subscribe {
      background-color: #003D6F;
      color: white; }
    #footer .footer-newsletter #subscribe:hover {
      opacity: 0.8; }
    #footer .footer-newsletter .btn-default {
      border-radius: 0 6px 6px 0;
      border: 0;
      font-size: 1.1rem;
      margin: 0; }
  #footer .credits {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    font-weight: 600;
    text-align: center; }

.hint .container {
  border: 0.3px solid #9E9C95;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 1% 2%;
  margin-top: 5vh;
  position: relative; }
.hint .container:before {
  content: url("img/icon-bulb.svg");
  display: block;
  position: absolute;
  left: -36px;
  top: 0; }
.hint h2 {
  margin-left: 20px; }

.produkty {
  margin-top: 10vh; }
  .produkty .row {
    background: rgba(255, 255, 255, 0.97);
    border-radius: 6px; }
  .produkty .row::after {
    content: "";
    display: none; }
  .produkty .col-4 .produkt-wrap {
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto;
    justify-items: stretch;
    margin: 0;
    padding: 0;
    height: 100%; }
  .produkty .col-4 .produkt {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, rgba(2, 172, 246, 0.9), rgba(2, 172, 246, 0.9)), url("img/didakticke-pomucky-produkt.jpg"), #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 2% 2% 2% 4%; }
  .produkty .col-4 .produkt-cta {
    display: inline-grid;
    grid-template-columns: 4fr 2fr 3fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1vh;
    padding: 1% 2% 1% 4%;
    background: #0091D6;
    border-radius: 6px;
    color: white; }
    .produkty .col-4 .produkt-cta span {
      font-size: 1.12rem; }
    .produkty .col-4 .produkt-cta .btn {
      justify-self: end;
      -ms-grid-column-align: end;
      min-width: auto;
      max-width: fit-content;
      width: auto; }
  .produkty h3 {
    color: white; }
  .produkty p {
    font-weight: 700;
    color: white; }
  .produkty .btn-default-wrap {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%; }
  .produkty .btn-default {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.reviews {
  margin: 10vh 0; }
  .reviews h2 {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex; }
  .reviews .container::before {
    content: url("img/icon-email.svg"); }
  .reviews article {
    margin-bottom: 1em; }
    .reviews article p {
      font-size: 1.125rem;
      font-weight: 700;
      margin-bottom: 0.4em; }
    .reviews article .post-meta {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; }
      .reviews article .post-meta .meta-author, .reviews article .post-meta .meta-author-job {
        font-weight: 700;
        font-size: 1.125rem; }
      .reviews article .post-meta .meta-author {
        color: #1F222C; }
      .reviews article .post-meta .meta-author::before {
        display: none; }
      .reviews article .post-meta .meta-author-job {
        color: #9E9C95; }

.kontakt .container {
  border: 0.3px solid #9E9C95;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 1% 2% 5% 2%;
  margin: 5vh auto; }
.kontakt .container::before {
  content: url("img/icon-kontakt.svg"); }
.kontakt h4 {
  margin: 0;
  line-height: 1.5em; }
.kontakt span {
  line-height: 2em;
  font-weight: 600;
  color: #1F222C; }
  .kontakt span a {
    color: inherit; }
  .kontakt span a:hover {
    text-decoration: underline; }

.cta-section {
  background-image: url("img/vlavici-zeptejte-se-odborniku.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 10vh 0;
  margin: 5vh 0; }
  .cta-section .container {
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 5vh 3vw; }
  .cta-section .col-6:last-of-type {
    align-self: center;
    -ms-grid-row-align: center; }
  .cta-section h2 {
    font-size: 2.2rem;
    margin-bottom: 0; }
  .cta-section .btn-sm {
    margin: 0 0 2vh 0; }

.historie .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
.historie .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #003D6F;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px; }
.historie .event {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%; }
.historie .event::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #003D6F;
  top: 15px;
  border-radius: 50%;
  z-index: 1; }
.historie .left {
  left: 0;
  text-align: initial; }
.historie .right {
  left: 50%;
  text-align: initial; }
.historie .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #003D6F; }
.historie .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #003D6F transparent transparent; }
.historie .right::after {
  left: -12px; }
.historie .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border: 1px solid #003D6F;
  border-radius: 6px; }

@media screen and (max-width: 600px) {
  .historie .timeline::after {
    left: 31px; }
  .historie .event {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
  .historie .event::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #003D6F transparent transparent; }
  .historie .left::after, .historie .right::after {
    left: 15px; }
  .historie .right {
    left: 0%; } }
.oautorovi {
  background-image: url("img/vlavici-o-autorovi.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10vh 0;
  margin: 5vh 0; }
  .oautorovi .container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 5vh 3vw; }
    .oautorovi .container h2 {
      font-size: 2rem; }
    .oautorovi .container p {
      font-weight: 600;
      font-size: 1.125rem;
      text-align: justify;
      line-height: 1.6em; }
    .oautorovi .container img {
      max-width: 100%; }
    .oautorovi .container .btn {
      min-width: 200px;
      max-width: fit-content;
      width: auto;
      margin: 2vh 0 0 0; }

.zapojtese {
  background-image: url("img/v-lavici-zapojte-se.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 10vh 0;
  margin: 5vh 0; }
  .zapojtese .container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 5vh 3vw; }
    .zapojtese .container h2 {
      font-size: 2rem; }
    .zapojtese .container p {
      margin: 0 5vw 0 0;
      font-weight: 600;
      text-align: justify; }
    .zapojtese .container .btn {
      min-width: 200px;
      width: auto; }
  .zapojtese #joinform {
    margin-bottom: 40px; }
    .zapojtese #joinform .btn-default {
      width: 100%; }
  .zapojtese .blurb {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 1fr; }
    .zapojtese .blurb .blurb-container {
      display: inline-grid;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: stretch;
      text-align: left;
      width: auto;
      height: 75px;
      border: 0.3px solid #9E9C95;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      background: white;
      border-radius: 6px;
      padding-left: 50px;
      color: #1F222C;
      font-weight: 600; }
  .zapojtese .blurb::before {
    content: url(img/icon-user.svg);
    display: inline-block;
    margin-right: -40px;
    z-index: 5; }
  .zapojtese .cta-blurb {
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 1fr; }
    .zapojtese .cta-blurb .cta-blurb-container {
      display: inline-grid;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: stretch;
      text-align: left;
      width: auto;
      height: auto;
      min-height: 150px;
      border: 0.3px solid #9E9C95;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      background: white;
      border-radius: 6px;
      padding-left: 50px;
      color: #1F222C;
      font-weight: 600; }
  .zapojtese .cta-blurb::before {
    content: url(img/icon-question.svg);
    display: inline-block;
    margin-right: -40px;
    z-index: 5; }
  .zapojtese .btn-default {
    justify-self: center;
    -ms-grid-column-align: center; }

ul.cat-list {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.cat-list li {
    display: grid;
    display: -ms-grid; }
    ul.cat-list li a {
      font-weight: 700;
      color: white;
      width: 100%;
      text-align: left;
      background: #02ACF6; }
    ul.cat-list li a:hover {
      background: #0091D6; }

.blog-categories .row {
  padding: 0 2%; }
.blog-categories span {
  grid-column: 2 / 3;
  font-size: 1.5rem;
  font-weight: 700;
  color: #003D6F; }
.blog-categories .razeni {
  display: inline-grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  justify-items: left; }
.blog-categories .typ-razeni {
  grid-column: 2 / 3;
  border: 0;
  color: #02ACF6;
  font-size: 1rem; }

@media (min-width: 1800px) {
  #navigace ul {
    padding: 0 10%; } }
@media (max-width: 1799px) {
  #hero .btn-default {
    bottom: -40px; }

  .dvpp-webinare .container.title {
    padding: 0 5%; } }
@media (max-width: 1199px) {
  #btn-eshop {
    display: none; }

  .headerbuttons {
    grid-template-columns: 1fr 3fr; }

  #navigace ul {
    padding: 0 2%; }
    #navigace ul a {
      font-size: 0.9rem; }

  .col-3 {
    grid-column: span 6; }

  .col-4 {
    grid-column: span 6; }

  .col-6 {
    grid-column: span 6; }

  .col-8 {
    grid-column: span 8; }

  .col-12 {
    grid-column: span 12; }

  .hint h2 {
    margin-left: 30px; }

  .homepage-nabidka .col-4 {
    grid-column: span 6; }

  .homepage-webinare h3 {
    padding: 20px 15px 0 15px; }
  .homepage-webinare .post-meta {
    grid-template-columns: 100px auto auto auto; }
    .homepage-webinare .post-meta img {
      grid-row: 1 / 3;
      grid-column: 1 / 2; }
    .homepage-webinare .post-meta .meta-author {
      grid-row: 1 / 2;
      grid-column: 2 / 5; }
    .homepage-webinare .post-meta .meta-bio {
      grid-row: 2 / 3;
      grid-column: 2 / 5; }
    .homepage-webinare .post-meta .meta-date {
      grid-row: 3 / 4;
      grid-column: 1 / 3; }
    .homepage-webinare .post-meta .meta-time {
      grid-row: 3 / 4;
      grid-column: 3 / 4; }
    .homepage-webinare .post-meta .meta-price {
      grid-row: 3 / 4;
      grid-column: 4 / 5; }

  .blog-hp h2 {
    margin-left: 50px; }
  .blog-hp .cat-link {
    max-width: 80%; }
  .blog-hp .metda-date {
    grid-column: span 2; }
  .blog-hp .meta-author {
    grid-column: span 2; }
  .blog-hp .more-link {
    order: 1; }

  .head .col-4 {
    grid-column: span 6; }
  .head .col-8 {
    grid-column: span 6; }

  .dvpp-webinare h3 {
    padding: 20px 15px 0 15px; }
  .dvpp-webinare .post-meta {
    grid-template-columns: 100px auto auto auto; }
    .dvpp-webinare .post-meta img {
      grid-row: 1 / 3;
      grid-column: 1 / 2; }
    .dvpp-webinare .post-meta .meta-author {
      grid-row: 1 / 2;
      grid-column: 2 / 5; }
    .dvpp-webinare .post-meta .meta-bio {
      grid-row: 2 / 3;
      grid-column: 2 / 5; }
    .dvpp-webinare .post-meta .meta-date {
      grid-row: 3 / 4;
      grid-column: 1 / 3; }
    .dvpp-webinare .post-meta .meta-time {
      grid-row: 3 / 4;
      grid-column: 3 / 4; }
    .dvpp-webinare .post-meta .meta-price {
      grid-row: 3 / 4;
      grid-column: 4 / 5; }

  .cta-section .col-4 {
    grid-column: span 4; }
  .cta-section .btn-sm {
    min-width: 200px;
    max-width: fit-content;
    width: auto; }

  .zapojtese .col-4 {
    grid-column: span 4; }

  .head .col-4 {
    grid-column: span 6; }
  .head .col-8 {
    grid-column: span 6; }

  .col-6.right {
    margin-bottom: 20px; }

  .load-more {
    float: none !important;
    margin: 5vh auto !important; }

  .blog-categories .col-4.right {
    grid-column: span 4; }

  .blog-list .post-meta {
    grid-template-rows: 60px 1fr 1fr; }
    .blog-list .post-meta .meta-date {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .blog-list .post-meta .more-link {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      margin: 0 auto; }
    .blog-list .post-meta .meta-author {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }

  .kontakt .col-4 {
    grid-column: span 4; } }
@media (min-width: 900px) {
  .mobile-menu-button {
    display: none; } }
@media (max-width: 899px) {
  .hint h2 {
    margin-left: 40px; }
  .hint h2:before {
    left: -8%; }

  .list-4 {
    grid-template-columns: repeat(3, auto); }

  .hint-page ul {
    grid-template-columns: repeat(3, auto); }

  .list-5 {
    grid-template-columns: repeat(3, auto); }

  .main-gallery {
    display: block; }

  .main-gallery::after {
    content: "flickity"; }

  .gallery-cell {
    width: 100%;
    display: grid;
    display: -ms-grid;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    justify-items: stretch;
    min-height: 100%; }

  .row {
    grid-row-gap: 10px; }

  #header {
    width: 95%; }

  .headerbuttons {
    grid-template-columns: 1fr auto 1fr; }

  #searchform button span {
    display: none; }

  .usermenu a::after {
    display: none; }
  .usermenu img {
    margin-right: 0; }
  .usermenu span {
    display: none; }

  #navigace {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 999;
    display: none; }
    #navigace ul {
      grid-template-columns: 1fr;
      grid-template-rows: 10% repeat(12, 1fr) 10%;
      grid-column-start: 1;
      grid-row-start: 2;
      grid-column-gap: 0;
      grid-row-gap: 15px; }

  #hero .btn-default {
    right: 0;
    bottom: 0;
    margin-bottom: 3vh;
    max-width: 200px; }

  .col-8 {
    grid-column: span 12; }

  .homepage-nabidka .col-4 {
    grid-column: span 6; }

  .homepage-produkty .row {
    display: block; }
  .homepage-produkty .row::after {
    content: "flickity"; }
  .homepage-produkty .col-4 {
    grid-column: span 12;
    min-height: 100%;
    width: 80%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .homepage-produkty .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
    .homepage-produkty .gallery-cell.is-selected .btn-default-wrap {
      justify-content: center;
      align-self: center;
      -ms-grid-row-align: center; }

  .hp-newsletter .col-6 {
    grid-column: span 12; }

  .homepage-webinare .container.title {
    padding: 0 10%; }
  .homepage-webinare h2 {
    font-size: 1.4rem; }
  .homepage-webinare h2::before {
    margin-right: 10px; }
  .homepage-webinare .row {
    display: block; }
  .homepage-webinare .main-gallery {
    margin-bottom: 2vh; }
  .homepage-webinare .main-gallery::after {
    content: "flickity"; }
  .homepage-webinare .col-6 {
    grid-column: span 12;
    min-height: 100%; }
  .homepage-webinare .gallery-cell {
    width: 80%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .homepage-webinare .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
    .homepage-webinare .gallery-cell.is-selected .btn-default-wrap {
      justify-content: center;
      align-self: center;
      -ms-grid-row-align: center; }

  .blog-hp .container::before {
    left: -36px !important; }
  .blog-hp h2 {
    margin-left: 70px; }
  .blog-hp .main-gallery::after {
    content: "flickity"; }
  .blog-hp .row {
    display: block;
    width: 100%; }
  .blog-hp .main-gallery {
    margin-bottom: 2vh; }
  .blog-hp .main-gallery::after {
    content: "flickity"; }
  .blog-hp .col-6 {
    grid-column: span 12;
    min-height: 100%; }
  .blog-hp .gallery-cell {
    width: 80%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .blog-hp .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
  .blog-hp img {
    max-width: -webkit-fill-available; }

  .cta-section .col-4 {
    grid-column: span 12; }
  .cta-section .col-4.right {
    text-align: center; }
  .cta-section .list-4 {
    grid-template-columns: repeat(4, auto); }

  .hint .container {
    width: 90% !important; }

  .produkty .row {
    display: block;
    width: 100%; }
  .produkty .row::after {
    content: "flickity"; }
  .produkty .gallery-cell {
    width: 80%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .produkty .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }

  .reviews .container {
    width: 90% !important; }
  .reviews .row {
    display: block;
    width: 100%; }
  .reviews .main-gallery::after {
    content: "flickity"; }
  .reviews .gallery-cell {
    width: 80%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .reviews .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
  .reviews .flickity-prev-next-button.previous {
    left: -6%; }
  .reviews .flickity-prev-next-button.next {
    right: -6%; }

  .otazky .row {
    display: block;
    width: 100%; }
  .otazky .main-gallery::after {
    content: "flickity"; }
  .otazky .gallery-cell {
    width: 80%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .otazky .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
  .otazky .container article .post-meta a.cat-link {
    min-width: 200px;
    max-width: fit-content; }
  .otazky .container article .post-meta .meta-author {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .otazky .container article .post-meta .more-link {
    grid-row: 4 / 5;
    grid-column: span 2;
    width: auto;
    max-width: fit-content; }

  .vylety .row {
    display: block;
    width: 100%; }
  .vylety .row::after {
    content: "flickity"; }
  .vylety .gallery-cell {
    width: 90%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .vylety .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
  .vylety article p {
    grid-column: 1 / 8;
    grid-row: 2 / 3; }
  .vylety article img {
    grid-column: 8 / 11;
    grid-row: 2 / 3;
    padding: 0; }
  .vylety article .alert {
    grid-column: span 10;
    grid-row: 3 / 4; }
  .vylety article .labels {
    grid-column: span 10;
    grid-row: 4 / 5; }
  .vylety article .post-meta {
    grid-row: 5 / 6;
    grid-column: span 10; }
  .vylety article .more-link {
    grid-row: 5 / 6;
    grid-column: span 5; }

  .blog-categories .col-8 {
    grid-column: span 8; }
  .blog-categories .col-4.right {
    grid-column: span 4; }

  .blog-list .row {
    display: block;
    width: 100%; }
  .blog-list .row::after {
    content: "flickity"; }
  .blog-list .col-6 {
    display: block; }
  .blog-list ul.cat-list {
    grid-template-columns: 1fr 1fr 1f; }
  .blog-list .post-meta .more-link {
    grid-row: 2 / 4;
    grid-column: 2 / 3; }
  .blog-list .post-meta .meta-author {
    grid-row: 3 / 4;
    grid-column: 1 / 2; }

  .dvpp-webinare .main-gallery {
    display: block;
    margin-bottom: 2vh; }
  .dvpp-webinare .main-gallery::after {
    content: "flickity"; }
  .dvpp-webinare .col-6 {
    grid-column: span 12;
    min-height: 100%; }
  .dvpp-webinare .gallery-cell {
    width: 80%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .dvpp-webinare .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
    .dvpp-webinare .gallery-cell.is-selected .btn-default-wrap {
      justify-content: center;
      align-self: center;
      -ms-grid-row-align: center; }
  .dvpp-webinare .col-6.right {
    grid-column: span 6; }
  .dvpp-webinare .col-6.left {
    grid-column: span 6; }

  .obl-vzdel .flickity-prev-next-button.previous {
    left: -7%; }
  .obl-vzdel .flickity-prev-next-button.next {
    right: -7%; }

  .medailonky article .blurb {
    grid-column: span 3; }
    .medailonky article .blurb .blurb-container {
      padding-left: 15%; }
  .medailonky .gallery-cell {
    width: 80%;
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .medailonky .gallery-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
  .medailonky .flickity-prev-next-button.previous {
    left: -3%; }
  .medailonky .flickity-prev-next-button.next {
    right: -3%; }

  .zapojtese .col-4 {
    grid-column: span 6; }

  #footer .col-6 {
    grid-column: span 12; }
  #footer .footer-newsletter form {
    box-shadow: 0; }
    #footer .footer-newsletter form #email {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0; }
    #footer .footer-newsletter form #subscribe {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px; } }
@media (max-width: 599px) {
  .hint .container::before {
    left: 0 !important; }
  .hint h2 {
    margin-left: 80px;
    margin-bottom: 50px; }

  .list-4 {
    grid-template-columns: repeat(1, auto); }

  .hint-page ul {
    grid-template-columns: repeat(1, auto); }

  .list-5 {
    grid-template-columns: repeat(1, auto); }

  .row {
    grid-row-gap: 5px;
    grid-column-gap: 10px; }

  #header #logo img {
    height: 45px; }

  #searchbox {
    order: 2;
    grid-column: span 3; }

  #ucet {
    grid-column: span 2; }

  .col-3 {
    grid-column: span 12; }

  .col-4 {
    grid-column: span 12; }

  .col-6 {
    grid-column: span 12; }

  #hero .btn-default {
    right: 0;
    bottom: 0;
    margin-bottom: 3vh; }

  .homepage-nabidka .col-4 {
    grid-column: span 12; }

  .homepage-about .col-6 {
    grid-column: span 12; }

  .homepage-webinare .container.title {
    padding: 0 5%; }
  .homepage-webinare h2 {
    line-height: 1.5em; }
  .homepage-webinare .cat-link {
    max-width: fit-content; }
  .homepage-webinare .post-meta {
    grid-template-columns: auto auto; }
    .homepage-webinare .post-meta .meta-author {
      grid-column: 2 / 3; }
    .homepage-webinare .post-meta .meta-bio {
      grid-column: 2 / 3; }
    .homepage-webinare .post-meta .meta-date {
      grid-column: 1 / 2; }
    .homepage-webinare .post-meta .meta-time {
      grid-row: 4 / 5;
      grid-column: 1 / 3; }
    .homepage-webinare .post-meta .meta-price {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      text-align: center; }
    .homepage-webinare .post-meta .more-link {
      grid-column: span 2; }

  .blog-hp .container::before {
    left: -10px !important;
    top: -11px;
    transform: scale(0.8); }
  .blog-hp .more-link {
    width: 220px; }
  .blog-hp .cat-link {
    max-width: fit-content; }
  .blog-hp .more-link {
    margin-top: 2vh; }

  .hp-newsletter h2 {
    font-size: 1.6rem; }
  .hp-newsletter form {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr; }

  .dvpp-webinare .col-6.right {
    grid-column: span 12;
    min-height: auto; }
  .dvpp-webinare .col-6.left {
    grid-column: span 12;
    min-height: auto; }
  .dvpp-webinare .load-more {
    margin: 1vh auto !important; }

  .cta-section .list-4 {
    grid-template-columns: repeat(1, auto); }

  .medailonky article .blurb {
    grid-column: span 6; }

  .head .col-4 {
    grid-column: span 12; }
  .head .col-8 {
    grid-column: span 12; }
  .head .btn {
    margin: 2vh auto;
    display: block;
    max-width: fit-content;
    min-width: 200px; }

  .produkty article .produkt-cta {
    grid-template-columns: auto 1fr !important;
    grid-row-gap: 10px;
    padding: 2% 2% 3% 4% !important; }
    .produkty article .produkt-cta .produkt-cta-name {
      grid-column: span 2; }

  .vylety article p {
    grid-column: span 10; }
  .vylety article .alert {
    grid-row: 4 / 5; }
  .vylety article img {
    grid-column: span 10;
    grid-row: 3 / 4; }
  .vylety article .labels {
    grid-row: 5 / 6; }
  .vylety article .ul-inline {
    grid-template-columns: 1fr; }
    .vylety article .ul-inline span {
      display: inline-block !important;
      padding-left: 0 !important; }
  .vylety article .post-meta {
    grid-row: 6 / 7; }
  .vylety article .more-link {
    grid-row: 7 / 8;
    grid-column: span 10;
    justify-self: center;
    -ms-grid-column-align: center; }

  .blog-categories .col-8 {
    grid-column: span 12; }
  .blog-categories .col-4.right {
    grid-column: span 12; }
  .blog-categories ul.cat-list {
    grid-template-columns: 1fr 1fr; }
  .blog-categories .razeni {
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .blog-categories .razeni span {
      grid-column: 1 / 2; }
    .blog-categories .razeni .typ-razeni {
      grid-column: 1 / 2; }

  .blog-list article .cat-link {
    max-width: 80%; }
  .blog-list .post-meta .meta-date {
    grid-row: 2 / 3;
    grid-column: 1 / 2; }
  .blog-list .post-meta .more-link {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    margin: 0 auto; }
  .blog-list .post-meta .meta-author {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }

  .kontakt .col-4 {
    grid-column: span 12;
    padding: 0 15%; }
    .kontakt .col-4 .btn {
      margin: 0 auto;
      display: block;
      max-width: fit-content; }

  .zapojtese .col-4 {
    grid-column: span 12; }

  #footer .footer-social {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; }
  #footer form#newsletter {
    grid-template-columns: 1fr; }
  #footer .btn-default {
    max-width: initial; } }
@media (max-width: 374px) {
  .list-2 {
    display: inline-grid;
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 20px;
    grid-column-gap: 20px; }

  #header #logo img {
    height: 35px; }

  .homepage-nabidka .blurb {
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    row-gap: 15px;
    margin-bottom: 5vh; }
  .homepage-nabidka .blurb-container {
    position: initial;
    padding: 0 20px;
    margin: 0 auto; }

  .homepage-about ul {
    grid-template-columns: 1fr; }

  .blog-hp .more-link {
    width: 200px; } }
.bordered {
  border: 0.3px solid #9E9C95;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 10px;
  border-radius: 6px; }

.datagrid-front {
  display: block; }
  .datagrid-front .table {
    width: 100%;
    margin: 20px 0px; }
  .datagrid-front .table-bordered {
    border: 1px solid #dee2e6; }
  .datagrid-front .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }
  .datagrid-front .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05); }
  .datagrid-front .table-bordered th, .datagrid-front .table-bordered td {
    border: 1px solid #dee2e6; }
  .datagrid-front .text-center {
    text-align: center !important; }
  .datagrid-front .table th, .datagrid-front .table td {
    padding: 0.74rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 13px; }

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1; }

.ordered-item {
  float: left;
  padding: 7px;
  margin: 5px;
  width: 47%;
  border: 1px solid black;
  border-radius: 7px; }
