<div class="col-lg-6">
        <!-- Form Basic -->
        <div class="card mb-4">
                <div class="card-body">
                        {form form}
                                <div class="form-group">
                                        <label for="exampleInputEmail1">{label name}</label>
                                        {input name class=>'form-control'}
                                </div>
                                {input save class=>'btn btn-primary'}
                        {/form}
                </div>
        </div>
</div>