{define menu-branch, $itemsParent}
	{if $itemsParent->hasVisibleItemsOnMenu()}
                                <li n:foreach="$itemsParent->getVisibleItemsOnMenu() as $item" class="nav-item {if $item->isActive()}active{/if}">{dump $item}
                                        {if $item->getLink() == '#'}
			<a href="{$item->getRealLink()}" n:class="$item->isActive() ? active, $item->getLink() == '#' ? collapsed, nav-link"
                                                        
                                                                data-toggle="collapse" data-target="#collapse{$item->getRealTitle()}" aria-expanded="true" aria-controls="collapse{$item->getRealTitle()}"
                                                                >
                                                        <i n:class="$item->getData() ? $item->getData()['icon']"></i><span>{$item->getRealTitle()}</span>
                                                </a>
                                                <div id="collapse{$item->getRealTitle()}" class="collapse {$item->isActive() ? 'show'}" aria-labelledby="heading{$item->getRealTitle()}" data-parent="#accordionSidebar">
                                                        <div class="bg-white py-2 collapse-inner rounded">
                                                                <h6 class="collapse-header">{$item->getRealTitle()}</h6>
                                                                {include menu-branch-sub, $item}
                                                        </div>
                                                </div>
                                        {else}
                                                <a class="nav-link" href="{$item->getRealLink()}">
                                                        <i n:class="$item->getData() ? $item->getData()['icon']"></i>
                                                        <span>{$item->getRealTitle()}</span>
                                                </a>
                                        {/if}
		</li>
	{/if}
{/define}
{define menu-branch-sub, $itemSub}
        <a n:foreach='$itemSub->getItems() as $row' class="collapse-item {$row->isActive() ? 'active'}" href="{$row->getRealLink()}">{$row->getRealTitle()}</a>
{/define}

{include menu-branch, $menu}
