<div id="loginbox">
	{form form}
		<div class="input-group input-sm">
			<span class="input-group-addon"><i class="fa fa-user"></i></span>{input email class => "form-control", id => "username"}
		</div>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-lock"></i></span>{input password class => "form-control", id => "password"}
		</div>
		<div class="form-actions clearfix">
			{input makeLogin class => "btn btn-block btn-primary"}

		</div>
	{/form}
</div>
