<div class="row">
        <div class="col-lg-6">
                <!-- Form Basic -->
                <div class="card mb-4">
                        <div class="card-body">
                                {form form}
                                        {formContainer basic}
                                        <div class="form-group">
                                                <label>{label name}</label>
                                                {input name class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label label}</label>
                                                {input label class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label owned}</label>
                                                {input owned class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label end_owned}</label>
                                                {input end_owned class=>'form-control'}
                                        </div>
                                        <div class="form-group" id="setEndDate">
                                            <label>{label end_of_ownership}</label>
                                            {input end_of_ownership class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label placed}</label>
                                                {input placed class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label amount}</label>
                                                {input amount class=>'form-control'}
                                        </div>
                                        {/formContainer}
                                        {formContainer category}
                                                <div class="form-group">
                                                        <div class="col-sm-3 control-label">{label item_category /}</div>
                                                        <div class="col-sm-9">{input item_category class=>'form-control select2'}</div>
                                                </div>
                                        {/formContainer}
                                        {formContainer basic}
                                        <div class="form-group">
                                                <label>{label price}</label>
                                                {input price class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label description}</label>
                                                {input description class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label condition_id}</label><br>
                                                {foreach $form[basic][condition_id]->items as $key => $value}
                                                        {foreach $value as $rowKey => $rowValue}
                                                                {if $rowKey === 'style'}
                                                                        {var $style = $rowValue}
                                                                {/if}
                                                                {if $rowKey === 'name'}
                                                                        {var $badgeName = $rowValue}
                                                                {/if}
                                                        {/foreach}
                                                        <label n:name="condition_id">
                                                                <input n:name="condition_id" value="{$key}" {if $defaultCondition == $key}checked{/if}> <span class="badge badge-{$style}">{$badgeName}</span>
                                                        </label><br>
                                                {/foreach}
                                        </div>
                                        {if isset($id)}
                                            <div class="form-group">
                                                <div class="col-sm-3 control-label">Nahrané fotky</div>
                                                <div class="col-sm-9">
                                                    {foreach $getFiles($id) as $row}
                                                        <p><a href="/{$row->src}" target="_blank"><img src="/{$row->src}" width="280"></a> <a href="{plink Item:deletePhoto, $row->id}" onclick="return confirm('Opravdu chcete smazat vybraný soubor?');" title="Delete" class="btn btn-xs btn-danger ajax"><span class="fa fa-trash"></span></a></p>
                                                    {/foreach}
                                                </div>
                                            </div>
                                        {/if}
                                        <div class="form-group">
                                                <label>{label photos}</label>
                                                {input photos class=>'form-control'}
                                        </div>
                                        <div class="form-group">
                                                <label>{label note}</label>
                                                {input note class=>'form-control'}
                                        </div>
                                        {/formContainer}

                                        {input save class=>'btn btn-primary'}
                                {/form}
                        </div>
                </div>
        </div>

        <div class="col-lg-6">
                <!-- Form Basic -->
                <div class="card mb-4">
                        <div class="card-body">
                                <h3>Výpůjčky</h3>
                                {if $item->token}
                                  <p>
                                    <a href="/pujcit/{$item->token}" target="_blank">Stránka pro výpůjčku tohoto předmětu </a>
                                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=https://{$_SERVER['HTTP_HOST']}/pujcit/{$item->token}">
                                  </p>
                                {else}
                                  <p>
                                    Momentálně neexistuje unikátní stránka pro možné půjčování tohoto předmětu.<br>
                                    <a class="btn btn-success" href="{plink Item:generate $item->id}">Generovat stránku</a>
                                  </p>
                                {/if}

                                <h3>Historie výpůjček:</h3>
                                <div class="table-responsive">
                                        <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
                                                        <tr>
                                                            <th>Půjčeno od</th>
                                                            <th>Půjčeno do</th>
                                                            <th>Komu</th>
                                                            <th>Kusů</th>
                                                            <th>Poznámka</th>
                                                            <th>Vráceno</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr n:foreach="$borrows as $row">
                                                                <td>{$row->borrowed_date|date:'j. n. Y'}</td>
                                                                <td>{$row->return_date|date:'j. n. Y'}</td>
                                                                <td><a href="{plink :Admin:Item:Borrow:edit $row->id}">{$row->borrowed_name}</a></td>
                                                                <td>{$row->qty}</td>
                                                                <td>{$row->note}</td>
                                                                <td>
                                                                        <span class="badge {if $row->returned}badge-success{else}badge-warning{/if}">
                                                                                {if $row->returned}
                                                                                        <i class="fa fa-check"></i>
                                                                                {else}
                                                                                        <i class="fa fa-times"></i>
                                                                                {/if}
                                                                        </span>
                                                                </td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                </div>
        </div>
</div>
