<div class="col-lg-6">
        <!-- Form Basic -->
        <div class="card mb-4">
                <div class="card-body">
                        {form form}
                                <div class="form-group">
                                        <label>{label name}</label>
                                        {input name class=>'form-control'}
                                </div>
                                <div class="form-group">
                                        {foreach $form[style]->items as $key => $label}
                                                        <label n:name="style:$key"><input n:name="style:$key"> <span class="badge badge-{$key}">{$label}</span></label>
                                        {/foreach}
                                </div>
                                
                                                
                                {input save class=>'btn btn-primary'}
                        {/form}
                </div>
        </div>
</div>