<div class="col-lg-6">
        <!-- Form Basic -->
        <div class="card mb-4">
                <div class="card-body">
                        {if !$id}
                                {form form}
                                        {formContainer basic}
                                                <div class="form-group">
                                                        <label>{label borrowed_name}</label>
                                                        {input borrowed_name class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label borrowed_email}</label>
                                                        {input borrowed_email class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label qty}</label>
                                                        {input qty class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        {*foreach $form[style]->items as $key => $label}
                                                                        <label n:name="style:$key"><input n:name="style:$key"> <span class="badge badge-{$key}">{$label}</span></label>
                                                        {/foreach*}
                                                </div>
                                        {/formContainer}
                                        {formContainer items}
                                                <div class="form-group">
                                                        <label>{label borrowed_date}</label>
                                                        {input borrowed_date class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label return_date}</label>
                                                        {input return_date class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label item_select}</label>
                                                        {input item_select class=>'form-control select2'}
                                                </div>
                                        {/formContainer}


                                        {input save class=>'btn btn-primary'}
                                {/form}
                        {else}
                                {form formEdit}
                                        {formContainer basic}
                                                <div class="form-group">
                                                        <label>{label borrowed_name}</label>
                                                        {input borrowed_name class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label borrowed_email}</label>
                                                        {input borrowed_email class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label note}</label>
                                                        {input note class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label qty}</label>
                                                        {input qty class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        {*foreach $form[style]->items as $key => $label}
                                                                        <label n:name="style:$key"><input n:name="style:$key"> <span class="badge badge-{$key}">{$label}</span></label>
                                                        {/foreach*}
                                                </div>
                                        {/formContainer}
                                        {formContainer items}
                                                <div class="form-group">
                                                        <label>{label borrowed_date}</label>
                                                        {input borrowed_date class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label return_date}</label>
                                                        {input return_date class=>'form-control'}
                                                </div>
                                                <div class="form-group">
                                                        <label>{label item_select}</label>
                                                        {input item_select class=>'form-control select2'}
                                                </div>
                                        {/formContainer}


                                        {input saveEdit class=>'btn btn-primary'}
                                        {input returned class=>'btn btn-success'}
                                        {input notReturned class=>'btn btn-warning'}
                                {/form}
                        {/if}
                </div>
        </div>
</div>