{block title}Nástěnka{/block}
{block content}
<div class="row mb-3">
<!-- New User Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-100">
                        <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1">Evidované věci</div>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{$items}</div>
                                                
                                        </div>
                                        <div class="col-auto">
                                          <i class="fa fa-warehouse fa-2x text-info"></i>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<div class="row mb-3">
        <!-- Pie Chart -->
        <!--<div class="col-xl-4 col-lg-5">
          <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Products Sold</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle btn btn-primary btn-sm" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Month <i class="fas fa-chevron-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Select Periode</div>
                  <a class="dropdown-item" href="#">Today</a>
                  <a class="dropdown-item" href="#">Week</a>
                  <a class="dropdown-item active" href="#">Month</a>
                  <a class="dropdown-item" href="#">This Year</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <div class="small text-gray-500">Oblong T-Shirt
                  <div class="small float-right"><b>600 of 800 Items</b></div>
                </div>
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <a class="m-0 small text-primary card-link" href="#">View More <i
                  class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>-->
        <!-- Invoice Example -->
        <div class="col-xl-8 col-lg-7 mb-4">
          <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Výpůjčky</h6>
              <a class="m-0 float-right btn btn-success btn-sm" href="{plink :Admin:Item:Borrow:add}"><i class="fa fa-plus"></i> Vytvořit novou</a>
              <a class="m-0 float-right btn btn-danger btn-sm" href="{plink :Admin:Item:Borrow:default}">Další <i
                  class="fas fa-chevron-right"></i></a>

            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Půjčeno</th>
                    <th>Komu</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Akce</th>
                  </tr>
                </thead>
                <tbody>
                  <tr n:foreach="$borrows as $borrow" n:class="$borrow->return_date < $today ? bg-warning, text-black">
                    <td><a href="{plink :Admin:Item:Borrow:edit $borrow->id}">{$borrow->id}</a></td>
                    <td><a href="{plink :Admin:Item:Item:edit $borrow->item_id}">{$borrow->item->name}</a></td>
                    <td>{$borrow->borrowed_name}</td>
                    <td>{$borrow->borrowed_date|date:'j. n. Y'}</td>
                    <td>{$borrow->return_date|date:'j. n. Y'}</td>
                    <td><a href="{plink :Admin:Item:Borrow:edit $borrow->id}" class="btn btn-sm btn-primary">Detail</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
</div>
<!--Row-->
{/block}
