button a:link, button a:visited, button a:focus{
	color: white !important;
}
.text-black{
	color: black;
}
a{
	color: #0a1fbd;
}

.datagrid .table thead th{
	color: #6e707e;
  background-color: #eaecf4;
  border-color: #e3e6f0;
}
